﻿@model LoginViewModel

@{

}

<section id="cover">
    <div id="cover-caption">
        <div id="container" class="container">
            <div class="row text-black">
                <div class="col-sm-6 offset-sm-3 text-center">
                    <h1 class="display-4">Авторизация</h1>
                    <a asp-controller="Auth" asp-action="Register">Зарегистрироваться</a>
                    <div class="info-form">
                        <form class="form-inlin justify-content-center" asp-controller="Auth" asp-action="Login" method="post">
                            <div class="form-group">
                                <label>UserName</label>
                                <input class="form-control" asp-for="UserName" aria-describedby="basic-addon1" />
                            </div>
                            <div class="form-group">
                                <label>Password</label>
                                <input class="form-control" asp-for="Password" type="password" aria-describedby="basic-addon1" />
                            </div>
                            <input type="submit" class="btn btn-secondary btn-lg" value="Sign In" />
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>



                       

