﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewBag.Title</title>
    <link rel="icon" href="favicon.ico" type="image/x-icon" />

    <meta name="description" content="@ViewBag.Description" />
    <meta name="keywords" content="@ViewBag.Keywords" />

    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.4.0/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.25.0/codemirror.min.css">

    <!-- Include Editor style. -->
    <link href="https://cdn.jsdelivr.net/npm/froala-editor@2.9.5/css/froala_editor.pkgd.min.css" rel="stylesheet" type="text/css" />
    <link href="https://cdn.jsdelivr.net/npm/froala-editor@2.9.5/css/froala_style.min.css" rel="stylesheet" type="text/css" />

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    
</head>
<body>
    <div>
        <div style="margin-left: 40px; margin-top: 20px;">
            <img src="~/content/static/Logo_Horizontal.jpeg" />
        </div>
        <nav class="navbar navbar-light bg-white shadow p-3 mb-5 bg-white rounded">

            <a class="navbar-brand" asp-controller="Home" asp-action="Index"><span class="fa fa-building" aria-hidden="true"></span>Home</a>
            <a class="navbar-brand" asp-controller="Home" asp-action="Index" asp-route-category="Образование"><span class="fa fa-graduation-cap" aria-hidden="true"></span>Образование</a>
            <a class="navbar-brand" asp-controller="Home" asp-action="Index" asp-route-category="Карьера"><span class="fa fa-briefcase" aria-hidden="true"></span> Карьера</a>
            <a class="navbar-brand" asp-controller="Home" asp-action="Index" asp-route-category="Творчество"><span class="fa fa-bullhorn" aria-hidden="true"></span>Творчество</a>
            <a class="navbar-brand" asp-controller="Home" asp-action="Index" asp-route-category="Бизнес"><span class="fa fa-briefcase" aria-hidden="true"></span>Бизнес</a>
            <a class="navbar-brand" asp-controller="Home" asp-action="Index" asp-route-category="Блог"><span class="fa fa-book" aria-hidden="true"></span>Блог</a>

            @if (User.Identity.IsAuthenticated)
            {
                @if (User.IsInRole("Admin"))
                {
                    <a class="navbar-brand" asp-controller="Panel" asp-action="Index">Posts</a>
                    <a class="navbar-brand" asp-controller="Roles" asp-action="Index">Users</a>
                }

            }

            @if (User.Identity.IsAuthenticated)
            {
                @if (User.IsInRole("PremiumUser"))
                {
                    <a class="navbar-brand" asp-controller="Home" asp-action="Premium"><span class="fa fa-star" aria-hidden="true"></span>Premium</a>
                }

            }

            @if (User.Identity.IsAuthenticated)
            {
                <p class="navbar-brand"> Welcome, <span> @User.Identity.Name</span></p>
                <a class="navbar-brand" asp-controller="Auth" asp-action="Logout">Logout</a>
            }
            else
            {
                <a class="navbar-brand" asp-controller="Auth" asp-action="Login">Sign In</a>
            }
        </nav>

    </div>
    <section id="cover">
        <div id="cover-caption">
            <div id="container" class="container">
                <div class="row text-black">
                    <div class="col-sm-10 offset-sm-1 text-center">
                        <div>
                            @RenderBody()
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
                        @RenderSection("scripts", false)
</body>
        </html>
