﻿@model CommentViewModel

@{ 

}

<div>
    @if (User.Identity.IsAuthenticated) { 
        <form method="post" asp-controller="Home" asp-action="Comment">
            <input asp-for="PostId" type="hidden" />
            <input asp-for="Id" type="hidden" />
            <input asp-for="Message" />
            <button type="submit">Submit</button>

        </form>
    }
</div>