﻿@model Post
@{ 
    ViewBag.Title = Model.Title;
    ViewBag.Description = Model.Description;
    ViewBag.Keywords = $"{Model.Tags?.Replace(",", " ")} {Model.Category}";
}

<section id="cover">
    <div id="cover-caption">
        <div id="container" class="container">
            <div class="row text-black">
                <div class="col-sm-10 offset-sm-1 text-center">

                    <h1 class="display-4">@Model.Title</h1>
                    <span class="fa fa-calendar" aria-hidden="true"> Posted: </span>
                    @Model.Created.ToShortDateString()
                </div>

                    <div class="post offset-sm-1 text-center">
                        @if (!String.IsNullOrEmpty(Model.Image))
                        {
                            var image_path = $"/Image/{Model.Image}";
                            <img src="@image_path" width="500" />
                        }
                    </div>
                    <div class="post-body col-sm-10 offset-sm-1 text-center">
                        @Html.Raw(Model.Body)

                    </div>
                    <div class="comment section">
                        @{
                            await Html.RenderPartialAsync("_Comment", new CommentViewModel { PostId = Model.Id, Id = 0 });
                        }

                        @foreach (var c in Model.Comments)
                        {
                            <p>
                                @c.Message --- @c.Created
                            </p>
                            @*<div style="margin-left: 20px;">
                                <h4>Sub Comments</h4>
                                @{
                                    await Html.RenderPartialAsync("_Comment", new CommentViewModel { PostId = Model.Id, Id = c.Id });
                                }

                                @foreach (var sc in c.SubComments)
                                {
                                    <p>
                                        @c.Message --- @c.Created
                                    </p>
                                }
                            </div>*@
                        }
                    </div>
                </div>
        </div>
    </div>
</section>