﻿@model IEnumerable<Post>

@{
    ViewBag.Title = "Blog Website";
    ViewBag.Description = "Blog Website";
    ViewBag.Keywords = "Blog Website";
}

<div class="container">

    <section id="cover">
        <div id="cover-caption">
            <div id="container" class="container">
                <div class="row text-black">
                    <div class="col-sm-10 offset-sm-1 text-center">
                        @foreach (var post in Model)
                        {
                            @if (post.Premium == "2")
                            {
                                var image_path = $"/Image/{post.Image}";
                                <a class="post" asp-controller="Home" asp-action="Post" asp-route-id="@post.Id">
                                    <img src="@image_path" width="500" />
                                    <span class="title">
                                        @post.Title
                                    </span>
                                </a>
                            }
                        }
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>