﻿@model PostViewModel

@{

}

<section id="cover">
    <div id="cover-caption">
        <div id="container" class="container">
            <div class="row text-black">
                <div class="col-sm-6 offset-sm-3 text-center">
                    <h1 class="display-4">Create or Edit post</h1>
                    <div>
                        <form class="form-inlin justify-content-center" asp-controller="Panel" asp-action="Edit" method="post" enctype="multipart/form-data">
                            <input asp-for="Id" type="hidden" />
                            <div class="form-group">
                                <label>Title</label>
                                <input class="form-control" asp-for="Title" aria-describedby="basic-addon1" />
                            </div>
                            <div class="form-group">
                                <label>Description</label>
                                <input class="form-control" asp-for="Description" aria-describedby="basic-addon1" />
                            </div>
                            <div class="form-group">
                                <label>Tags</label>
                                <input class="form-control" asp-for="Tags" aria-describedby="basic-addon1" />
                            </div>
                            <div class="form-group">
                                <label>Type</label>
                                <select asp-for="Premium">
                                    <option value="1">Обычный</option>
                                    <option value="2">Премиум</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label>Category</label>
                                <select asp-for="Category" />
                                <option value="Образование">Образование</option>
                                <option value="Карьера">Карьера</option>
                                <option value="Творчество">Творчество</option>
                                <option value="Бизнес">Бизнес</option>
                                <option value="Блог">Блог</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label>Body</label>
                                <textarea id="editor" asp-for="Body"></textarea>
                            </div>
                            <div class="form-group">
                                <label>Image</label>
                                <input class="form-control" asp-for="CurrentImage" aria-describedby="basic-addon1" />
                                <input class="form-control" asp-for="Image" aria-describedby="basic-addon1" />
                            </div>
                            <input type="submit" class="btn btn-secondary btn-lg" value="Submit" />
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
@section scripts{
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.25.0/codemirror.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.25.0/mode/xml/xml.min.js"></script>

    <!-- Include Editor JS files. -->
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/froala-editor@2.9.5/js/froala_editor.pkgd.min.js"></script>
    <script>$(function () { $('textarea').froalaEditor() });</script>
}
