﻿body {margin: 0;}

a{
    color: black;
    text-decoration: none;
}

a:hover{
    text-decoration: underline;
}

.main-img{
    position: relative;
    height: 100px;
    background-position: center;
    background-size: cover;
}
.title{
    position: absolute;
    color: white;
    font-size: 40px;
    left: 50%;
    transform: translateX(-50%);
    top: 35%;
    text-shadow: 0 0 8px black;
}

.container{
    max-width:800px;
    margin: auto;
    width: 100%;
}

.post{
    position:relative;
    display: flex;
    height:400px;
}

.post img{
    width:100%;
    object-fit:cover;
}

.post body
{
    margin: -5px 5px 0;
    padding: 20px 5px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}